.features {
  margin-top: 90px;
  .container{
    &:after{
      content: "";
      display: block;
      margin-bottom: 60px;
      height: 2px;
      width: 100%;
      background: #eeeeee;
    }
  }

  &__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    width: 240px;
    margin-bottom: 60px;
    p {
      min-height: 65px;
      font-weight: 300;
    }
    &--third {
      margin-right: 0;
    }
  }
  &__image{
    overflow: hidden;
    height: 124px;
  }
  @media($tablet-widths) {
        &__items{
          justify-content: space-between;
        }
     }
}