.paginator {
  margin-left: 380px;
  margin-bottom: 40px;
  &__item {
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #f1f1f1;
    background-color: #f1f1f1;
    margin-right: 10px;
    font-weight: bold;
    &:hover{
      background-color: #e5e5e5;
    }
    &:active{
      background-color: #d5d5d5;
      box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
    }
    &--active {
      background-color: white;
    }
    &:last-of-type {
      text-transform: uppercase;
      padding-left: 32px;
      padding-right: 32px;
    }
  }

}