.products{
  &__item {
    background:url(../images/head-products-item.png) ,
    url(../images/products-item1.png) 0 30px;
    background-repeat: no-repeat;
    @include inlineBlock();
    width: 240px;
    height: 270px;
    font-size: 16px;
    margin-right: 80px;
    margin-bottom: 80px;
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    &:hover{
      background:url(../images/head-products-item-hover.png) ,
      url(../images/products-item1.png) 0 30px;
      background-repeat: no-repeat;
      .products__hover{
        opacity: 1;
      }
    }
    &:nth-child(2){
      background:url(../images/head-products-item.png) ,
      url(../images/products-item2.png) 0 30px;
      background-repeat: no-repeat;
      &:hover{
        background:url(../images/head-products-item-hover.png) ,
        url(../images/products-item2.png) 0 30px;
        background-repeat: no-repeat;
      }
    }
    &:nth-child(3){
      background:url(../images/head-products-item.png) ,
      url(../images/products-item3.png) 0 30px;
      background-repeat: no-repeat;
      &:hover{
        background:url(../images/head-products-item-hover.png) ,
        url(../images/products-item3.png) 0 30px;
        background-repeat: no-repeat;
      }
    }
    &:nth-child(4){
      background:url(../images/head-products-item.png) ,
      url(../images/products-item4.png) 0 30px;
      background-repeat: no-repeat;
      &:hover{
        background:url(../images/head-products-item-hover.png) ,
        url(../images/products-item4.png) 0 30px;
        background-repeat: no-repeat;
      }
    }
    &:nth-child(5){
      background:url(../images/head-products-item.png) ,
      url(../images/products-item5.png) 0 30px;
      background-repeat: no-repeat;
      &:hover{
        background:url(../images/head-products-item-hover.png) ,
        url(../images/products-item5.png) 0 30px;
        background-repeat: no-repeat;
      }
    }
    &:nth-child(6){
      background:url(../images/head-products-item.png) ,
      url(../images/products-item6.png) 0 30px;
      background-repeat: no-repeat;
      &:hover{
        background:url(../images/head-products-item-hover.png) ,
        url(../images/products-item6.png) 0 30px;
        background-repeat: no-repeat;
      }
    }
  }
  &__hover{
    width: 200px;
    height: 200px;
    margin: auto;
    background: #fff;
    margin-top: 60px;
    text-align: center;
    padding-top: 30px;
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  &__radio, &__checkbox{
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    color: #283136;
    font-size: 16px;
    &:before,&:after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
    }
  }
  &__radio{
    &:before{
      border-radius: 100%;
      border:4px solid #d7dcde;
    }
    &:after{
      display: none;
      top: 7px;
      left: 7px;
      width: 6px;
      height: 6px;
      background:#d7dcde;
    }
  }
  &__checkbox{
    &:before {
      background: #d7dcde;
      border-radius: 5px;
    }
    &:after{
      display: none;
      content: '\2713';
      color: #fff;
      left: 5px;
    }
  }
  &__input{
    display: none;
    &:checked + label.products__radio::after,
    &:checked + label.products__checkbox::after{
      display: block;
    }
  }
  &__reducer {
    font-size: 0;
  }
}


.filter {
  float: left;
  width: 240px;
  margin-right: 80px;
  &__controls {
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
  }

  &__scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
  }

  &__bar {
    height: 2px;
    background: #00ca74;
  }

  &__toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    &--max{
      left: 145px;
    }
  }
  &__price{
    white-space: nowrap;
  }
  &__price-min, &__price-max  {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    background: #f1f1f1;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #283136;
    border-radius: 5px;
  }

  &__price-min {
    margin-right: 14px;
  }
}
.sort {
  padding: 0;
  &__item {
    @include inlineBlock();
    font-size: 12px;
    font-weight: bold;
    margin-right: 40px;
    opacity: 0.3;
    text-transform: uppercase;
    &--active,&--main{
      opacity: 1;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &:hover{
      opacity: 1;
      border-bottom: 1px solid #01a25e;;
    }
  }

  &__link{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
  }
}