.carousel{
  position: relative;
  &__wrapper{
    background: #eee;
  }
  @media($mobile-widths-only) {
    &__item{
      padding-left: 10px;
      padding-right: 10px;
    }
    &__image{
      display: none;
      }
   }
  @media($tablet-widths) {
    width: 640px;
    margin-right: auto;
    margin-left: auto;
    &__item{
      padding-right: 0;
      padding-left: 0;
    }
   }
  @media($desktop-widths) {
    width: 900px;
   }
  @media($large-widths) {
    width: 1200px;
   }
  &__item{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    &:nth-child(2){
      h3{
        width: 480px;
      }
    }
    &:nth-child(3){
      h3{
        width: 330px;
      }
    }
  }
  &__image{
    float: right;
  }
  h3{
    width: 270px;
    font-size: 36px;
    font-weight: 500;
  }
  p{
    font-size: 16px;
    font-weight: 300;
  }
}
.flickity-page-dots{
  bottom: 30px;
}